{% extends 'base/base.html' %}
{% load repo_tags %}

{% block title %}
    {{ block.super }} | Log in
{% endblock %}

{% block content %}
    <div class="container h-100 mt-5">
        {% show_messages %}
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <h2 class="mb-5">Login</h2>
                {% if form.errors and not form.errors.username and not form.errors.password %}
                    <div class="text-danger text-center">
                        Please enter a correct username and password. Note that both fields may be case-sensitive.
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input type="text" class="form-control {% if form.errors.username %}is-invalid{% endif %}"
                               id="id_username" name="username" placeholder="Enter username">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        {% if form.errors.username %}
                            <div class="invalid-feedback">
                                {{ form.errors.username }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input type="password" class="form-control {% if form.errors.password %}is-invalid{% endif %}"
                               id="id_password" name="password" placeholder="Enter password">
                        {% if form.errors.password %}
                            <div class="invalid-feedback">
                                {{ form.errors.password }}
                            </div>
                        {% endif %}
                    </div>
                    <a class="btn btn-secondary float-left" href="{% url 'repo:github_login' %}">Login with GitHub <i class="fab fa-github"></i></a>
                    <button class="btn btn-success float-right" type="submit">Login</button>
                </form>
                <br>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
